<form action="<%= tracks_url %>" method="post">
	<%= auth_token %>
	<label for="track_album">Album 
		<select name="track[album_id]" id="track_album">
			<% Album.all.each do |album| %>
				<option <%= "selected" if album.id == params[:album_id].to_i || album.id == @track.album_id %> value="<%= album.id %>">
					<%= album.title.upcase %>
				</option>
			<% end %>
		</select>
	</label>
	<br>
	<label for="track_name">Name
		<input type="text" name="track[name]" id="track_name" value="<%= @track.name %>">
	</label>
	<br>
	<p>Track Type</p>
	<label for="bonus_track">Bonus 
		<input type="radio" id="bonus_track" name="track[bonus]" value="TRUE">
	</label>
	<br>
	<label for="regular_track">Regular  
		<input type="radio" id="regular_track" name="track[bonus]" value="FALSE">
	</label>
	<br>
	<label for="track_lyrics">
		<textarea name="track[lyrics]" id="track_lyrics">
			<%= @track.lyrics %>
		</textarea>
	</label>
	<br>
	<input type="submit" value="Create Track">
</form>