<h1><%= @track.name %></h1>
<p><%= @track.bonus ? "Bonus Track" : "" %></p>
<%= ugly_lyrics(@track.lyrics) %>

<p><%= link_to "edit track", edit_track_url(@track) %></p>
<p><%= button_to "remove", track_url(@track), method: :delete %></p>

<%= render @track.notes unless @track.notes.empty? %>
<%= render 'notes/form', track: @track %>

<p><%= link_to "<< Back to tracks", tracks_url %></p>