<form action="<%= album_url %>" method="post">
	<%= auth_token %>
	<input type="hidden" name="_method" value="patch">
	<label for:"band_id">Band 
		<select id="band_id"
					 	name="album[band_id]">
			<% Band.all.each do |band| %> 

				<option <%= "selected" if band.id == @album.band_id %> value="<%= band.id %>">
					<%= band.name.upcase %>
				</option>
			<% end %>
		</select>
	</label>
	<br>
	<label for:"album_title">Album Title 
		<input type="text"
					 id="album_title"
					 name="album[title]"
					 value="<%= @album.title %>">
	</label>
	<br>
	<p>Type of recording:</p>
	<label for="studio">studio</label>
	<input type="radio" name="album[place]" id="studio", value="STUDIO" <%= "selected" if @album.place == "STUDIO" %>>
	<br>
	<label for="live">live</label>
	<input type="radio" name="album[place]" id="live", value="LIVE" <%= "selected" if @album.place == "LIVE" %>>
	<br>
	<input type="submit" value="Update Album">
</form>