<h1><%= @album.title %></h1>

<p><%= link_to "Write Track", new_album_track_url(@album) %></p>

<% @album.tracks.each do |track| %>
	<p><%= link_to track.name, track_url(track) %></p>
<% end %>

<p><%= link_to "edit album", edit_album_url(@album) %></p>
<p><%= button_to "remove", album_url(@album), method: :delete %></p>

<p><%= link_to "<< Back to albums", albums_url %></p>