<!DOCTYPE html>
<html>
<head>
  <title>iTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<nav>iTunes 
		<%= button_to("Log Out", session_url, method: :delete) unless current_user.nil? %>
	</nav>
</div>

	<%= render 'shared/error_messages' %>

<%= yield %>

</body>
</html>
